body {
    font-family: 'Open Sans', sans-serif;
    color: #636262;
  }
  
  h1, h2 {
    font-weight: 600;
  }
  
  img {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
  }
  
  a {
    color: #009183;
  }
  
  a:hover {
    color: #FF7D00;
  }